/* Fonte para Títulos (Estilo Industrial/Sinalização) */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');
/* Fonte para Tags e Código (Estilo Terminal) */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #0f172a; /* Slate 900 - Fundo Dark */
  color: #e2e8f0;
  font-family: 'Space Grotesk', sans-serif;
}
