spring:
  application:
    name: portfolio-backend

  threads:
    virtual:
      enabled: true

  base-url: http://localhost:8080

  # Configuração da IA (Groq)
  ai:
    openai:
      api-key: ${GROQ_API_KEY} # Você define isso nas variáveis de ambiente do Windows/Linux
      base-url: https://api.groq.com/openai # URL mágica que faz o Spring falar com a Groq
      chat:
        options:
          model: llama-3.3-70b-versatile #meta-llama/llama-4-scout-17b-16e-instruct #llama-3.3-70b-versatile # Ou 'mixtral-8x7b-32768'
          temperature: 0.1

  # Cache (Essencial para não gastar API do GitHub/Groq a cada F5)
  cache:
    cache-names:
      - github-repos
    caffeine:
      spec: maximumSize=100,expireAfterWrite=1h

  github:
    token: ${GITHUB_TOKEN}

  datasource:

    url: jdbc:postgresql://aws-1-sa-east-1.pooler.supabase.com:6543/postgres?sslmode=require&prepareThreshold=0application.yml
    username: postgres.vorzuewlvjsveyeoorvu
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      # Essas configurações são CRÍTICAS para Transaction Pooler (Porta 6543)
      maximum-pool-size: 10
      minimum-idle: 5
      max-lifetime: 1800000 # 30 minutos
      connection-timeout: 30000

  jpa:
    check-template-location: false
    properties:
      hibernate:
        # DESATIVA o Prepared Statement Caching (Resolve o erro "S_1 already exists")
        dbcp:
          ps:
            maxActive: 0
            maxIdle: 0
            maxWait: -1

    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect

    hibernate:
      ddl-auto: update
    show-sql: true

management:
    endpoints:
      web:
        exposure:
          include: health, info, metrics
    endpoint:
      health:
        show-details: always